<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sightengine demo - Python and Flask</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>

</header>

<img src="{{ detections }}" alt="Detections">
<table>
  <tr>
    <th>{{ detection0colour }}</th>
    <th>{{ detection0score }}</th>
    <th>{{ detection0class }}</th>
  </tr>
  <tr>
    <th>{{ detection1colour }}</th>
    <th>{{ detection1score }}</th>
    <th>{{ detection1class }}</th>
  </tr>
  <tr>
    <th>{{ detection2colour }}</th>
    <th>{{ detection2score }}</th>
    <th>{{ detection2class }}</th>
  </tr>
  <tr>
    <th>{{ detection3colour }}</th>
    <th>{{ detection3score }}</th>
    <th>{{ detection3class }}</th>
  </tr>
</table>

</body>
</html>